{
    "tabs": [
        {
            "label": "General",
            "admin": false,
            "content": {
                "rows": [
                    {
                        "type": "content",
                        "key": "linkedin_url",
                        "style": "font-size: large; font-weight: bold; margin: 0 0 5px 5px;",
                        "value": "",
                        "label": "Linkedin",
                        "format": "<a href=\"%s\" title=\"View LinkedIn profile\" target=\"_blank\"><img src=\"https://d2yoltx20x7ome.cloudfront.net/img/ico/linkedin25.png\" alt=\"LinkedIn icon\" title=\"View LinkedIn profile\" width=\"25\" height=\"25\" /></a>",
                        "collapse": true,
                        "display": "inline right"
                        
                    },
                    {
                        "type": "content",
                        "key": "first_name",
                        "style": "font-size: large; font-weight: bold;",
                        "value": "",
                        "label": "First Name",
                        "format": "%s %s",
                        "collapse": true,
                        "display": "block"
                        
                    },
                    {
                        "type": "content",
                        "key": "last_name",
                        "style": "font-size: large; font-weight: bold;",
                        "value": "",
                        "label": "Last Name",
                        "format": "%s %s",
                        "collapse": true,
                        "display": "block"
                        
                    },
                    {
                        "type": "content",
                        "key": "work_title",
                        "style": "font-weight: bold; font-style: italic;",
                        "value": "",
                        "label": "Work Title",
                        "format": "%s",
                        "collapse": true,
                        "display": "block"
                       
                    },
                    {
                        "type": "content",
                        "key": "work_company",
                        "style": "margin-top: 5px;",
                        "label": "Company",
                        "value": "",
                        "format": "%s",
                        "collapse": true,
                        "display": "block"
                        
                    },
                    {
                        "type": "div"
                    },
                    {
                        "type": "content",
                        "key": "meta_1",
                        "style": "",
                        "label": "Constituency",
                        "value": "",
                        "format": "%s",
                        "collapse": true,
                        "display": "block"
                        
                    },
                    {
                        "type": "content",
                        "key": "meta_2",
                        "style": "",
                        "label": "Program",
                        "value": "",
                        "format": "%s",
                        "collapse": true,
                        "display": "block"
                        
                    },
                    {
                        "type": "content",
                        "key": "meta_3",
                        "style": "",
                        "label": "Graduation Year",
                        "value": "",
                        "format": "%s",
                        "collapse": true,
                        "display": "block"
                       
                    }
                ]
            }
        },
        {
            "label": "Contact",
            "admin": false,
            "content": {
                "rows": [
                    {
                        "type": "content",
                        "key": "email_1",
                        "style": "",
                        "label": "Email",
                        "value": "",
                        "format": "<a href=\"mailto:%1$s\" target=\"_blank\">%1$s</a>",
                        "collapse": true,
                        "display": "block"
                    },
                    {
                        "type": "content",
                        "key": "phone_1",
                        "style": "",
                        "label": "Phone",
                        "value": "",
                        "format": "%s",
                        "collapse": true,
                        "display": "block"
                    },
                    {
                        "type": "div"
                    },
                    {
                        "type": "group",
                        "label": "Work Address",
                        "value": "",
                        "format": "<br />%s<br />%s, %s<br />%s",
                        "collapse": true,
                        "display": "block",
                        "fields":[
                        	{
		                        "type": "content",
		                        "key": "work_street",
		                        "style": "",
		                        "label": "Work Street",
		                        "value": "",
		                        "format": "%s",
		                        "collapse": true,
		                        "display": "block"
		                    },
                        	{
		                        "type": "content",
		                        "key": "work_city",
		                        "style": "",
		                        "label": "Work City",
		                        "value": "",
		                        "format": "%s",
		                        "collapse": true,
		                        "display": "block"
		                    },
                        	{
		                        "type": "content",
		                        "key": "work_region",
		                        "style": "",
		                        "label": "Work Region",
		                        "value": "",
		                        "format": "%s",
		                        "collapse": true,
		                        "display": "block"
		                    },
                        	{
		                        "type": "content",
		                        "key": "work_country",
		                        "style": "",
		                        "label": "Work Country",
		                        "value": "",
		                        "format": "%s",
		                        "collapse": true,
		                        "display": "block"
		                    }
                        ]
                    },
                    {
                        "type": "group",
                        "label": "Home Address",
                        "value": "",
                        "format": "<br />",
                        "collapse": true,
                        "display": "block",
                        "fields":[
                        	{
		                        "type": "content",
		                        "key": "home_city",
		                        "style": "",
		                        "label": "Home City",
		                        "value": "",
		                        "format": "%s",
		                        "collapse": true,
		                        "display": "block"
		                    },
                        	{
		                        "type": "content",
		                        "key": "home_region",
		                        "style": "",
		                        "label": "Home Region",
		                        "value": "",
		                        "format": "%s",
		                        "collapse": true,
		                        "display": "block"
		                    },
                        	{
		                        "type": "content",
		                        "key": "home_country",
		                        "style": "",
		                        "label": "Home Country",
		                        "value": "",
		                        "format": "%s",
		                        "collapse": true,
		                        "display": "block"
		                    }
                        ]
                    }
                ]
            }
        },
        {
            "label": "Settings",
            "admin": true,
            "content": {
                "rows": [
                    {
                        "type": "group",
                        "id": "profile",
                        "label": "Profile Visible",
                        "start": true
                    },
					{
                        "type": "visibility",
                        "value": "1",
                        "key": "visible",
                        "format": "%s",
                        "group": "profileVisibilityCtrl",
                        "controls": [
                            {
                                "text": "Everyone",
                                "title": "Make profile visible to everyone",
                                "id": "showProfileCtrl",
                                "value": "1"
                            },
                            {
                                "text": "Only Me",
                                "title": "Profile visible only to you",
                                "id": "hideProfileCtrl",
                                "value": "0"
                            }
                        ]
                    },
                    {
                        "type": "group",
                        "start": false 
                    },
					{
                        "type": "group",
                        "id": "general",
                        "label": "General Visibility",
                        "start": true
                    },
                    {
                        "type": "visibility",
                        "label": "Job Title",
                        "value": "1",
                        "key": "work_title",
                        "format": "%s",
                        "group": "jobTitleVisibilityCtrl",
                        "controls": [
                            {
                                "text": "Show",
                                "title": "Display job title",
                                "id": "showJobCtrl",
                                "value": "1"
                            },
                            {
                                "text": "Hide",
                                "title": "Hide job title",
                                "id": "hideJobCtrl",
                                "value": "0"
                            }
                        ]
                    },
                    {
                        "type": "visibility",
                        "label": "Company",
                        "value": "1",
                        "key": "work_company",
                        "format": "%s",
                        "group": "companyVisibilityCtrl",
                        "controls": [
                            {
                                "text": "Show",
                                "title": "Display company",
                                "id": "showCompanyCtrl",
                                "value": "1"
                            },
                            {
                                "text": "Hide",
                                "title": "Hide company",
                                "id": "hideCompanyCtrl",
                                "value": "0"
                            }
                        ]
                    },
					{
                        "type": "group",
                        "start": false 
                    },
					{
                        "type": "group",
                        "id": "contact",
                        "label": "Contact Visibility",
                        "start": true
                    },
                    {
                        "type": "visibility",
                        "label": "Work Location",
                        "value": "1",
                        "key": "display_work",
                        "format": "%s",
                        "group": "workLocVisibilityCtrl",
                        "controls": [
                            {
                                "text": "Show",
                                "title": "Display work location",
                                "id": "showWorkLocationCtrl",
                                "value": "1"
                            },
                            {
                                "text": "Hide",
                                "title": "Hide work location",
                                "id": "hideWorkLocationCtrl",
                                "value": "0"
                            }
                        ]
                    },
                    {
                        "type": "visibility",
                        "label": "Home Location",
                        "value": "1",
                        "key": "display_home",
                        "format": "%s",
                        "group": "homeLocVisibilityCtrl",
                        "controls": [
                            {
                                "text": "Show",
                                "title": "Display home location",
                                "id": "showHomeLocationCtrl",
                                "value": "1"
                            },
                            {
                                "text": "Hide",
                                "title": "Hide home location",
                                "id": "hideHomeLocationCtrl",
                                "value": "0"
                            }
                        ]
                    },
					{
                        "type": "visibility",
                        "label": "Email",
                        "value": "1",
                        "key": "email_1",
                        "format": "%s",
                        "group": "emailVisibilityCtrl",
                        "controls": [
                            {
                                "text": "Show",
                                "title": "Display email address",
                                "id": "showEmailCtrl",
                                "value": "1"
                            },
                            {
                                "text": "Hide",
                                "title": "Hide email address",
                                "id": "hideEmailCtrl",
                                "value": "0"
                            }
                        ]
                    },
                    {
                        "type": "visibility",
                        "label": "Phone Number",
                        "value": "1",
                        "key": "phone_1",
                        "format": "%s",
                        "group": "phoneVisibilityCtrl",
                        "controls": [
                            {
                                "text": "Show",
                                "title": "Display phone number",
                                "id": "showPhoneCtrl",
                                "value": "1"
                            },
                            {
                                "text": "Hide",
                                "title": "Hide phone number",
                                "id": "hidePhoneCtrl",
                                "value": "0"
                            }
                        ]
                    },
					{
                        "type": "group",
                        "start": false 
                    }
                ]
            }
        }
    ]
}