@CHARSET "ISO-8859-1";
body 
	{
		font:12px/17px Arial, Helvetica, sans-serif; 
		color:#333; 
		background:#ccc; 
		padding:20px 20px 20px 20px;
		border:1px solid #fff;
		width:640px;
	}
fieldset
	{
		background:#f2f2e6; 
		padding:0px 22px 25px 0px; 
		border:1px solid #fff; 
		border-color:#fff #666661 #666661 #fff; 
		margin-bottom:10px; 
		width:610px;
		
	}
#inside
	{
		background:#f2f2e6; 
		padding:0px 0px 25px 20px; 
		border:0px solid #fff; 
		border-color:#fff #666661 #666661 #fff; 
		margin-bottom:-25px; 
		width:610px;
	}
.submit input
	{
		background:#bfbf30; 
		color:#fff; 
		font:17px/21px Calibri, Arial, Helvetica, sans-serif;
		border: 2px outset #d7b9c9;
		font-weight:bold;
	}
input, textarea, select 
	{
		font:12px/12px Arial, Helvetica, sans-serif; 
		padding:20;
	}
legend 
	{
		background:#bfbf30; 
		color:#fff; 
		font:20px/25px Calibri, Arial, Helvetica, sans-serif; 
		margin:12px; 
		font-weight:bold;
		border:1px solid #fff; 
		border-color:#e5e5c3 #505014 #505014 #e5e5c3;
		padding: 2px 12px;
	}
#inside02 
	{
		background:#bfbf30; 
		color:#fff; 
		font:14px/21px Calibri, Arial, Helvetica, sans-serif; 
		margin:12px; 
		font-weight:bold;
		border:1px solid #fff; 
		border-color:#e5e5c3 #505014 #505014 #e5e5c3;
		padding: 1px 6px;
	}
label 
	{
		font-size:11px; 
		font-weight:bold; 
		color:#666;
	}
label.opt 
	{
		font-weight:normal;
	}
dl 
	{	
		clear:both;
	}
dt 
	{
		width: 120px;
		float: left;
		text-align: right;
		margin-right: 2px;
		display: block
	}
dd 
	{
		width: 120px;
		float: left;
		text-align: right;
		margin-right: 2px;
		display: block
	}
